# xxx = ProjectID (projectSettings -> general)

# supabase - database
SPRING.R2DBC.URL=supabase_r2dbc_url
SPRING.R2DBC.USERNAME=postgres.xxx
SPRING.R2DBC.PASSWORD=databse_password_paste_the_one_when_database_newly_created

# supabase - liquibase
SPRING.LIQUIBASE.URL=supabaseliquibase_url
SPRING.LIQUIBASE.USER=postgres.xxx
SPRING.LIQUIBASE.PASSWORD=databse_password_paste_the_one_when_database_newly_created

# Supabase Storage
SUPABASE.URL=https://xxx.supabase.co
SUPABASE.ANON.KEY=ProjectSetting_API-KEY_legacy-anon_anon-public
SUPABASE.STORAGE.BUCKET=supabase_bucket_name